@font-face {
    font-family: "ProximaNova-Bold";
    src: url("fonts/ProximaNova-Bold.eot");
    src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
         url("fonts/ProximaNova-Bold.woff2") format("woff2"),
         url("fonts/ProximaNova-Bold.woff") format("woff"),
         url("fonts/ProximaNova-Bold.ttf") format("ttf"),
         url("fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "ProximaNova-Light";
    src: url("fonts/ProximaNova-Light.eot");
    src: url("fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
         url("fonts/ProximaNova-Light.woff2") format("woff2"),
         url("fonts/ProximaNova-Light.woff") format("woff"),
         url("fonts/ProximaNova-Light.ttf") format("ttf"),
         url("fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "ProximaNova-Regular";
    src: url("fonts/ProximaNova-Reg.eot");
    src: url("fonts/ProximaNova-Reg.eot?#iefix") format("embedded-opentype"),
         url("fonts/ProximaNova-Reg.woff2") format("woff2"),
         url("fonts/ProximaNova-Reg.woff") format("woff"),
         url("fonts/ProximaNova-Reg.ttf") format("ttf"),
         url("fonts/ProximaNova-Reg.svg#ProximaNova-Regular") format("svg");
    font-style: normal;
    font-weight: regular;
}
@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("fonts/ProximaNova-Semibold.eot");
    src: url("fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
         url("fonts/ProximaNova-Semibold.woff2") format("woff2"),
         url("fonts/ProximaNova-Semibold.woff") format("woff"),
         url("fonts/ProximaNova-Semibold.ttf") format("ttf"),
         url("fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
    font-style: normal;
    font-weight: 700;
}