#instafeed { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 2rem 2rem; }
#instafeed img { width: 100%; }
#instafeed .instaPic { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
#instafeed .instagram-picture:before { display: block; content: ""; width: 100%; padding-top: calc(var(--aspect-ratio)*100%); }