#contact {
    padding: 8rem 0 9rem 0;
    background: $grey-light;
    @media screen and (max-width: $tablet) {
        padding: 4.5rem 0 8.5rem 0;
    }
    h2 {
        margin-bottom: 4.8rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 120%;
    }
    .item-left {
        padding-right: 5rem;
        @media screen and (max-width: $tablet) {
            padding-right: 0;
            h3, p {
                font-size: 1.5rem;
            }
            h3 {
                margin-bottom: 3rem;
            }
        }
        #contactInfo {
            margin-top: 5.5rem;
            @media screen and (max-width: $tablet) {
                margin: 3rem 0;
            }
            a{
                font-weight: 600;
                font-size: 2rem;
                line-height: 115%;
                @media screen and (max-width: $tablet) {
                    font-size: 1.5rem;
                    font-weight: 400;
                }
            }
        }
    }
    form {
        width: 100%;
        input, textarea {
            width: 100%;
            border: 1px solid $black;
            padding: .6rem .8rem;
            font-size: .8rem;
            font-family: "ProximaNova-Regular";
            margin-bottom: 1rem;
            background: transparent;
            @media screen and (max-width: $tablet) {
                width: calc(100% - 1.6rem);
            }
            &[type="submit"] {
                display: inline-block;
                width: auto;
                text-transform: capitalize;
                min-width: 10rem;
                @media screen and (max-width: $tablet) { min-width: 0; }
            }
        }
    }
    .mobile-only { margin-top: 4rem; }
}