footer {
    background: $grey-light;
    padding-top: 3.5rem;
    padding-bottom: 5.5rem;
    .grid-item {
        span {
            &:first-child {
                margin-right: 1.1875rem;
            }
        }
    }
    .text-right {
        @media screen and (max-width: $tablet) {
            text-align: left;
        }
    }
}