header {
    @media screen and (max-width: $tablet) {
        // padding: 1.6rem;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
    }
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem 3rem;
        @media screen and (max-width: $tablet) {
            padding: 1.6rem;
        }
        nav {
            ul {
                display: inline;
                li {
                    display: inline;
                    vertical-align: middle;
                    font-size: 75%;
                    margin-right: 2rem;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        &:first-child {
                            margin-right: 1.1875rem;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $tablet) {
            display: none;
        }
    }
    #mobileMenu {
        z-index: 5;
        width: 100vw;
        height: 96px;
        background: $grey-light;
        position: fixed;
        top: 0;
        &.opened {
            overflow: hidden;
            height: 100vh;
        }
        #mobile-header-logo-wrapper {
            position: absolute;
            top: calc(3rem - 10px);
            left: 15px;
        }
        button {
            position: absolute;
            top: calc(3rem - 15px);
            right: calc(1.6rem - 15px);
            .hamburger-inner {
                height: 3px !important;
                &:before { top: -8px; height: 3px !important; }
                &:after { bottom: -8px; height: 3px !important; }
            }
        }
        .hamburger--squeeze.is-active .hamburger-inner:before { top: 0 !important; }
        .hamburger--squeeze.is-active .hamburger-inner:after { bottom: 0 !important; }
        #mobileNavbar {
            height: calc(100vh - 96px);
            margin-top: -100vh;
            transition: all .3s ease;
            background: $grey-light;
            padding-left: 1.6rem;
            &.opened {
                margin-top: 0;
                padding-top: 70%;
                overflow: hidden;
            }
            ul {
                li {
                    display: block;
                    font-size: 2rem;
                    line-height: 2.375;
                }
            }
        }
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }
}