#hero {
    padding-top: 9rem;
    @media screen and (max-width: $tablet) {
        padding-top: 4rem;
    }
    .grid--hero-grid {
        margin-left: 10%;
        @media screen and (max-width: $tablet) {
            margin-left: 5%;
        }
        h2.lead {
            grid-area: lead;
            margin-bottom: 7.5rem;
            @media screen and (max-width: $tablet) {
                margin-bottom: 3rem;
            }
        }
        p {
            grid-area: text;
            margin-right: 8.75rem;
            @media screen and (max-width: $tablet) {
                margin-right: 10%;
            }
        }
        .btn {
            grid-area: button;
            margin-top: 4rem;
            margin-bottom: 4.6875rem;
            display: inline-block;
            justify-self: start;
        }
        img {
            grid-area: image;
            @media screen and (max-width: $tablet) {
                margin-bottom: 3rem;
            }
        }
    }
}
#services {
    @media screen and (max-width: $tablet) {
        background: $white !important;
    }
    .grid--services-grid {
        h2 {
            grid-area: title;
            padding-top: 6.875rem;
            padding-bottom: 7.5rem;
            @media screen and (max-width: $tablet) {
                padding-top: 4rem;
                padding-bottom: 3rem;
            }
        }
        .lead {
            grid-area: lead;
            h3 {
                margin-bottom: 4rem;
            }
        }
        .text {
            grid-area: text;
            p {
                margin-bottom: 2rem;
            }
        }
        .lead,
        .text {
            margin-right: 7.6875rem;
            @media screen and (max-width: $tablet) {
                margin-right: 0;
            }
        }
        ul {
            padding-top: 2rem;
            grid-area: list;
            li {
                list-style-type: disc;
                margin-left: 19px;
                line-height: 2;
                font-family: "ProximaNova-Semibold";
            }
        }
        img {
            grid-area: image;
            justify-self: center;
            margin: 3rem 0;
        }
    }
}
#services-2 {
    padding-bottom: 3.25rem;
    .lead {padding-top: 8rem;}
    .grid-3 {
        grid-gap: 5.8125rem;
        margin-top: 5.375rem;
        margin-bottom: 6.25rem;
        .grid-item {
            h3 {
                line-height: 2;
                margin-bottom: 1.75rem;
            }
        }
    }
}
#about {
    padding-top: 8.3125rem;
    padding-bottom: 7.6875rem;
    .grid-2 {
        grid-gap: 7.6875rem;
        .item-left {
            align-self: center;
            h2 {
                padding-bottom: 3.75rem;
            }
            p {margin-bottom: 3rem;}
        }
    }
}
#subscribe {
    padding-top: 5.6875rem;
    padding-bottom: 4.4375rem;
    .grid-2 {
        grid-gap: 7.6875rem;
        @media screen and (max-width: $tablet) {
            grid-gap: 4rem;
        }
        h3.lead {
            margin-bottom: 1.625rem;
            @media screen and (max-width: $tablet) {
                margin-bottom: 3.625rem;
            }
        }
    }
    form {
        input {
            display: block;
            border-radius: 0;
            &[type="text"], &[type="email"] {
                border: 1px solid $black;
                background: transparent;
                padding: .625rem;
                margin-bottom: 1.25rem;
                width: 17.5rem;
            }
            &[type="submit"] {
                border: none;
            }
        }
    }
}
#instagram {
    padding-top: 8.3125rem;
    padding-bottom: 7.6875rem;
    h2 {
        margin-bottom: 6.25rem;
    }
    p {margin-bottom: 1rem;}
}